* {
  margin: 0px;
  padding: 0px;
}

#header {
  text-align: center;
}

#title {
  margin: 30px;
}

#section {
  margin: 50px 100px;
  font-size: 20px;
  text-align: justify;
  line-height: 35px;
}

#footer {
  margin: 50px 100px;
}

.input {
  padding: 5px;
  margin-left: 10px;
}

.btn {
  margin: 5px;
  padding: 5px;
}
