body {
    font-size: 16px;
}

h1 {
    color: orange;
    font-family: sans-serif;
    font-size: 65px;
}

li {
    background-color: orange;
    line-height: 25px;
    text-align: center;
}

p {
    font-size: 3em;
    font-style: oblique;
    font-weight: 600;
    text-decoration: underline;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: saddlebrown;
}

.favourite-colour {
    background-color:cornflowerblue;
}
