div:hover {
    border: 1px solid black;
}

h3 {
    font-size: 20px;
}

.primary {
    color: blue;
}
.secondary {
    color: green;
}

.additional {
    color: orange;
}

.dark {
    color: darkred;
}

.clear {
    color: aqua;
}
